.container {
     width: 100%;
     display: flex;
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 10%;
     align-items: start;
     justify-content: space-around;
     background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%), rgba(9,9,121,1) 35%;
     color: white;
     padding-bottom: 20%;
}

@media screen and (max-width: 1200px) {
     .container { 
           padding-left: 10px;
           padding-right: 10px;
           padding-top: 15%;
     }
}
 
@media screen and (max-width: 768px) {
     .container {
           flex-direction: column;
           justify-content: center;
           align-items: center;
     }
}

@media screen and (max-width:480px) {
     .container {
          padding-top: 40%;
          gap: 40px;
     }
     
}