.container {
     width: 100%;
     display: flex;
     padding-left: 10px;
     padding-right: 10px;
     align-items: start;
     justify-content: space-around;
     background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%), rgba(9,9,121,1) 35%;
     color: white;
     padding-bottom: 10%;
     padding-top: 100px;
}

@media screen and (max-width: 1024px) {
     .container {
     padding-top: 70px;

     }
}
 

@media screen and (max-width:480px) {
     .container {
          padding-top: 70px;
          gap: 40px;
     }
     
}