.blogs {
  width: 90%;
}
.blogs > div {
  width: 100%;
}
.blogs ul {
  height: 100%;
}

.blogs li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 120%;
  height: 70vh;
}

@media screen and (max-width: 1200px) {
  .blogs {
    width: 100%;
  }
}
