.container {
  background-color: whitesmoke;
  width: 100%;
}

.topPictureContainer {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 30vh 0 0 5%;
}

.mainContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 150px;
  padding: 150px 0;
}

.registerContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.registerContainer>p {
  width: 65%;
  font-size: 17px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
}

.contactContainer {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  padding: 6% 5%;
  gap: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.348);
  transition: transform 0.5s linear;
}

.contactContainer>div:nth-child(5) {
  grid-area: 3 / 1 / 3 / 3;
}

.contactContainer>div:nth-child(5)>input {
  height: 20vh;
}

.inpContainer {
  width: 100%;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.inpContainer>input {
  font-size: 14px;
  background-color: #F7F7F7;
  height: 50px;
  border-radius: 10px;
  border: 3px solid #E7E7E7;
  padding: 10px;
  transition: 0.4s;
  resize: none;
}

.inpContainer>label {
  margin-left: 4px;
}

.inpContainer>input:focus {
  outline: none;
  border-color: #146965;
}

.inpContainer>input:user-invalid {
  color: brown;
  border-color: brown;
}

.inpContainer>input:user-valid {
  border-color: #146965;
}

.mapContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1070px) {
  .mainContainer {
    width: 80%;
  }
}

@media screen and (max-width: 810px) {
  .mainContainer {
    width: 92%;
  }
}

@media screen and (max-width: 700px) {
  .mapContainer {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .mapContainer > div {
    width: 65%;
  }
}

@media screen and (max-width: 690px) {
  .mainContainer {
    width: 97%;
  }

  .registerContainer {
    width: 90%;
  }
}

@media screen and (max-width: 590px) {
  .topPictureContainer {
    background-image: none;
  }

  .topPictureContainer > h1 {
    color: red;
  }

  .contactContainer {
    grid-template-columns: 100%;
    padding: 14% 5%;
  }

  .contactContainer>div:nth-child(5){
    grid-area: auto;
  }

  .inpContainer > label {
    background: linear-gradient(white, #F7F7F7);
    position: absolute;
    left: 14px;
    top: -7.7px;
    padding: 0 3px;
  }

  .registerContainer {
    width: 96%;
  }

  .mapContainer > div {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .mapContainer > div {
    width: 85%;
  }
}

@media screen and (max-width: 390px) {
  .mapContainer > div {
    width: 90%;
  }
}