.container {
  background-color: whitesmoke;
  width: 100%;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 28px;
  margin-top: 40px;
}

.mainContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 70px;
  text-align: center;
  padding: 50px 0;
}

.registerContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.registerContainer>p {
  width: 65%;
  font-size: 17px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
}

.contactContainer {
  background-color: white;
  width: 100%;
  display: grid;
  border-radius: 10px;
  padding: 6% 5%;
  gap: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.348);
  transition: transform 0.5s linear;
  grid-template-areas: 
  'name email'
  'message message'
  'button button';
}

.forEmail, .forMessage, .forName {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forEmail input, .forName input {
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: lightgray;
  padding-left: 10px;
  font-size: 16px;
  outline: none;
}

input::placeholder {
  color: black;
}

.forMessage {
  grid-area: message;
  width: 100%;
}

.forMessage textarea {
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: lightgray;
  border-radius: 10px;
}

.forMessage textarea::placeholder {
  color: black;
}

.forName {
  grid-area: name;
}

.forEmail {
  grid-area: email;
}

.forBtn {
  grid-area: button;
}

.forBtn button {
  width: 100%;
  height: 40px;
}

.mapContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1070px) {
  .mainContainer {
    width: 80%;
  }
}

@media screen and (max-width: 810px) {
  .mainContainer {
    width: 92%;
  }
}

@media screen and (max-width: 700px) {
  .mapContainer {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .mapContainer > div {
    width: 65%;
  }
}

@media screen and (max-width: 690px) {
  .mainContainer {
    width: 97%;
  }
}

@media screen and (max-width: 590px) {
  .topPictureContainer {
    background-image: none;
  }

  .topPictureContainer > h1 {
    color: red;
  }

  .contactContainer {
    grid-template-columns: 100%;
    padding: 14% 5%;
  }

  .mapContainer > div {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .mapContainer > div {
    width: 85%;
  }
}

@media screen and (max-width: 390px) {
  .mapContainer > div {
    width: 90%;
  }
}