.welcomeAbout {
  width: 86%;
  height: 70vh;
  background: white;
  z-index: 1;
  display: flex;
}

.welcomeAbout > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.aboutLeft {
  width: 60%;
  z-index: 0;
}

.aboutLeftInformation {
  width: 88%;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.title {
  color: #6ee8e1;
  font-size: 30px;
  line-height: 33px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 10%;
}
.description {
  color: #00394d;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.aboutLeftLine {
  width: 70px;
  height: 5px;
  background: #00394d;
}
.aboutLeftInformation span {
  color: #00394d;
  font-size: 17px;
  line-height: 24px;
}

.aboutLeftInformation button {
  padding: 15px 25px 15px 25px;
  border: solid #00394d 2px;
  background: transparent;
  font-size: 15px;
  letter-spacing: 1px;
  color: #00394d;
  margin-top: 50px;
  cursor: pointer;
}

.aboutRight {
  width: 40%;
  z-index: 1;
}

.aboutRight > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 25px;
    line-height: 40px;
  }
  .aboutLeftInformation span {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 1025px) {
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 20px;
    line-height: 30px;
  }

  .aboutLeftInformation span {
    font-size: 13px;
    line-height: 16px;
  }
  .aboutLeftInformation > button {
    width: 120px;
    height: 45px;
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .welcomeAbout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .welcomeAbout > div {
    width: 90%;
  }
  .title {
    font-size: 19px;
  }
  .description {
    font-size: 21px;
    line-height: 28px;
  }

  .aboutLeftInformation span {
    font-size: 13px;
    line-height: 14px;
  }
  .aboutRight > img {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .welcomeAbout {
    width: 100%;
  }

  .aboutLeft {
    width: 100%;
  }
  .aboutLeftInformation {
    height: 80%;
  }

  .title {
    font-size: 18px;
    line-height: 20px;
  }
  .description {
    font-size: 23px;
    line-height: 40px;
    letter-spacing: 2px;
  }

  .aboutLeftInformation span {
    font-size: 15px;
    line-height: 22px;
  }

  .aboutRight {
    width: 100%;
    height: 45%;
  }
}
