.container{
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
}
.container > p{
    font-size: 25px;
    color: #00394d;
    text-align: center;
    width: 75%;
}
